<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deepsea.mua.mine">

    <application>

        <activity
            android:name="com.deepsea.mua.mine.activity.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.deepsea.mua.mine.activity.RechargeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.deepsea.mua.mine.activity.ProfileEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.deepsea.mua.mine.activity.PresentWallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.deepsea.mua.mine.activity.WalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.deepsea.mua.mine.activity.WalletRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.deepsea.mua.mine.activity.IncomeRedpackageDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.deepsea.mua.mine.activity.ExchangeMdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.deepsea.mua.mine.activity.FeedResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.deepsea.mua.mine.activity.FeedbackActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.deepsea.mua.mine.activity.WebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UpdateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentWindow" />
        <activity
            android:name=".activity.InviteDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentWindow" />
        <activity
            android:name=".activity.UploadPhotoDialogActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/HalfTranslucentWindow" />
        <activity
            android:name=".activity.RechargeDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentWindow" />
        <activity
            android:name=".activity.ScreenDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HalfTranslucentWindow" />
        <activity
            android:name="com.deepsea.mua.mine.activity.AssistActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.deepsea.mua.mine.activity.MarriageSeekingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.deepsea.mua.mine.activity.CrashWithdrawalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.deepsea.mua.mine.activity.CollectionAccountSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.deepsea.mua.mine.activity.CrashWithDrawalDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.deepsea.mua.mine.activity.IncomeDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.deepsea.mua.mine.activity.QueryDateDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.deepsea.mua.mine.activity.ExchangeMdDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.deepsea.mua.mine.activity.MyTagsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.deepsea.mua.mine.activity.BindWechatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.deepsea.mua.mine.activity.GuardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.deepsea.mua.mine.activity.GuardRuleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.deepsea.mua.mine.activity.MyGuardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.deepsea.mua.mine.activity.BlockListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.deepsea.mua.mine.activity.BindPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.deepsea.mua.mine.activity.ApplyHostActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait" />
    </application>


</manifest>