<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deepsea.mua.core">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application>
        <activity
            android:name="com.deepsea.mua.core.view.floatwindow.FloatActivity"
            android:theme="@style/NoDisplay" />
        <activity
            android:name="com.hehegame.chess.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>
</manifest>