body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1182px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:360px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:37px;
  width:750px;
  height:360px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:308px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:59px;
  width:487px;
  height:308px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:54px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:89px;
  width:16px;
  height:54px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:12px;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:54px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:104px;
  width:16px;
  height:54px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:12px;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:54px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:162px;
  width:16px;
  height:54px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:12px;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:54px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:178px;
  width:16px;
  height:54px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:12px;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:54px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:161px;
  width:16px;
  height:54px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:12px;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:54px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:589px;
  top:223px;
  width:16px;
  height:54px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:12px;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:54px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:252px;
  width:16px;
  height:54px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:12px;
  word-wrap:break-word;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:360px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:37px;
  width:373px;
  height:360px;
  font-size:16px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:29px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:53px;
  width:45px;
  height:29px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
