body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1287px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1223px;
  height:807px;
}
#u2392 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:18px;
  width:1223px;
  height:807px;
}
#u2392_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
