<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deepsea.mua.voice">

    <!--往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>

        <activity
            android:name="com.deepsea.mua.voice.activity.RoomActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity android:name="com.deepsea.mua.voice.activity.RoomSetActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.deepsea.mua.voice.activity.RoomModeSetActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.deepsea.mua.voice.activity.RoomWelSetActivity"
            android:screenOrientation="portrait"
            />

        <activity
            android:name="com.deepsea.mua.voice.activity.RoomReportActivity"
            android:theme="@style/HalfTranslucentWindow"
            android:screenOrientation="portrait" />
        <activity android:name="com.deepsea.mua.voice.activity.RoomNameSetActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.deepsea.mua.voice.activity.RoomSearchActivity"
            android:windowSoftInputMode="stateHidden|adjustNothing"
                    android:screenOrientation="portrait"
        />
        <activity android:name="com.deepsea.mua.voice.activity.SearchMoreActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.deepsea.mua.voice.activity.RoomModelHelpActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.deepsea.mua.voice.activity.RoomCreateNewActivity"
            android:windowSoftInputMode="stateHidden|adjustNothing"
            android:screenOrientation="portrait"/>

        <service android:name=".MyNotifyService" />
    </application>
</manifest>